source https://api.nuget.org/v3/index.json
framework: net7.0
storage: none

nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Expecto

nuget Fable.Elmish.React >= 4
nuget Fable.Elmish.Debugger >= 4
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Fable.Core >= 4.0.0 theta
nuget Feliz >= 2
nuget Feliz.Bulma
nuget Fulma
nuget Feliz.Router >= 4
nuget Zanaptak.TypedCssClasses
nuget Feliz.Markdown

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput
nuget Farmer
nuget Feliz.ReactFlow

group Package
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget Feliz >= 2 lowest_matching: true