source https://api.nuget.org/v3/index.json
framework: net7.0
storage: none

nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Expecto

nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Feliz.Bulma
nuget Fulma
nuget Feliz.Router
nuget Zanaptak.TypedCssClasses
nuget Feliz.Markdown
nuget Feliz

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput
nuget Farmer
nuget Feliz.ReactFlow

group Package
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget Feliz